
{% extends "teamwon_mas/base.html" %}
{% load staticfiles %}

{% load tethys_gizmos %}

{% block header_buttons %}

{% endblock %}

{% block content_dependent_styles %}
{{ block.super }}
<link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<style>
    hr{
        border-top:1px solid #1D63C5
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    #loader_map{
        position: absolute;
        right: 50%;
        top: 30%;
        display: block;
    }
    #outAlert{
        position: absolute;
        /*right: 50%;*/
        /*top: 30%;*/
        display: block;
        /*width:100%;*/
        z-index:100;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

    td, th {
        border: 1px solid #000000;
        text-align: left;
        padding: 5px;
    }

    /*tr:nth-child(even) {*/
        /*background-color: #dddddd;*/
    /*}*/
    .gly {
            border: 1px solid #000000;
    }
    .tab button{
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }


</style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://js.arcgis.com/4.6/"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static 'teamwon_mas/js/buffer_service.js' %}" type="text/javascript"></script>
{% endblock %}




{% block app_navigation_items %}
{{ block.super }}
<hr>
<button class="tablinks" data-toggle="collapse" data-target="#demo1" style = "border:none;background-color:#00000000">
    <h3>Legend</h3>
</button>
<div id="demo1" class="collapse in">
<table id = 'legend_table'>
    <tr style = "display:none;">
    </tr>
    <tr id ="uber_main">
        <td style="background-color: rgb(51, 204, 204)"><input id="chkUber" type="checkbox" checked > </td>
        <td>Uber Route&nbsp</td>
        <!--<td>-->
            <!--<button id = "uber_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
        <td>
            <button id = "uber_toggle" type="button" class="btn gly" name = "uber">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
        </td>

    </tr>
    <tr id ="uber_add"></tr>

    <tr id ="bus_main">
        <td style="background-color: rgb(75, 251, 52)"><input id="chkBus" type="checkbox" checked > </td>
        <td>Bus Route&nbsp</td>
        <!--<td>-->
            <!--<button id = "bus_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
        <td><button type="button" class="btn gly" name = "bus">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </button></td>
    </tr>
    <tr id ="bus_add"></tr>

    <tr id ="spon_main">
        <td style="background-color: rgb(127,74, 190)"><input id="chkSpon" type="checkbox" checked > </td>
        <td>Sponsored Route&nbsp</td>
        <!--<td>-->
            <!--<button id = "spon_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
        <td><button type="button" class="btn gly" name = "spon">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </button></td>
    </tr>
    <tr id ="spon_add"></tr>
    <tr id ="spon_stop_main">
        <td style="background-color: rgb(0, 102, 153)"><input id="chkSponStops" type="checkbox" checked ></td>
        <td>Sponsored Restaurant&nbsp</td>
        <!--<td>-->
            <!--<button id = "spon_stop_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
    </tr>
    <tr id ="bus_stop_main">
        <td style="background-color: rgb(255, 102, 0)"><input id="chkBusStops" type="checkbox" checked > </td>
        <td>Bus Stops&nbsp</td>
        <!--<td>-->
            <!--<button id = "bus_stop_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
    </tr>
    <tr id ="origin">
        <td style="background-color: rgb(30, 143, 12)"><input id="chkOrigin" type="checkbox" checked > </td>
        <td>Origin</td>
        <!--<td>-->
            <!--<button id = "origin_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
    </tr>
    <tr id ="destination">
        <td style="background-color: rgb(255, 0, 0)"><input id="chkDestination" type="checkbox" checked > </td>
        <td>Destination</td>
        <!--<td>-->
            <!--<button id = "destination_extents" type="button" class="btn " name = "uber">-->
                <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
            <!--</button>-->
        <!--</td>-->
    </tr>

</table>
</div>
<hr>
<button class="tablinks" data-toggle="collapse" data-target="#demo" style = "border:none;background-color:#00000000">
    <h3>Options</h3>
</button>
    <div id="demo" class="collapse in">

    <div class="tab">
        <button class="tablinks active" onclick="openCity(event, 'options_tab')">Route Options</button>
        <button class="tablinks" onclick="openCity(event, 'advanced_options')">Advanced Options</button>
        <!--<button id = "opt_toggle" type="button" class="btn" data-toggle="collapse" data-target="#demo" data-toggle="tooltip" data-placement="right" title="Hide Options">-->
            <!--<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>-->
        <!--</button>-->
        <!--<button id = "opt_toggle" type="button" class="tablinks" data-toggle="collapse" data-target="#demo">Hide Options</button>-->
    </div>

    <!-- Tab content -->

    <div id="options_tab" class="tabcontent"style="display:block" >
        <label class="checkbox">
            <input class = 'chkbox' type = "checkbox" id = "uberChk" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" checked>&nbsp UBER <br>
        </label>
        <div id = 'uber_progress1' class="progress">
          <div id= 'uber_progress' class="progress-bar" role="progressbar" aria-valuenow="70" name = 0
          aria-valuemin="0" aria-valuemax="100" style="width:0%">0</div>
        </div>

        <label class="checkbox">
            <input class = 'chkbox' type = "checkbox" id = "redFareChk" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" checked>&nbspSponsored Reduced Fair<br>
        </label>
        <div id = 'spon_progress1' class="progress">
          <div id= 'spon_progress' class="progress-bar " role="progressbar" aria-valuenow="70" name = 0
          aria-valuemin="0" aria-valuemax="100" style="width:0%">0</div>
        </div>

        <label class="checkbox">
            <input class = 'chkbox' type = "checkbox" id = "busesChk" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" checked>&nbspUTA Buses<br>
        </label>
        <div id = 'bus_progress1' class="progress">
          <div id= 'bus_progress' class="progress-bar" role="progressbar" aria-valuenow="70" name = 0
          aria-valuemin="0" aria-valuemax="100" style="width:0%">0</div>
        </div>
        <div class="form-group">
            <label for="sel1">Choose a restaurant:</label>
            <select class="form-control" id="sel1">
                <option>McDonald's</option>
                <option>Wendy's</option>
                <option>Carl's Jr</option>
                <option>Taco Bell</option>
            </select>
        </div>
        <!--<label class="checkbox">-->
        <!--<input type = "checkbox" id = "walkingChk" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" checked>&nbspWalking<br>-->
        <!--</label>-->
        <button id="origin_btn" type="button" class="btn btn-primary" onclick="app.createPoint('origin')">
            Select Origin
        </button>
        <p></p>
        <button id="endPoint_btn" type="button" class="btn btn-primary" onclick="app.createPoint('destination')">
            Select Destination
        </button>
    </div>


    <div id="advanced_options" class="tabcontent">
        <label>Uber Costs</label>
        <p></p>
        Cost per Mile
        <div class="input-group input-group-sm">
            <!--<span class="input-group-addon" id="sizing-addon3">UBER cost per mile</span>-->
            <input id="uberCost"type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="0.9">
            <span class="input-group-addon">$/mile</span>
        </div>
            Cost per Minute
        <div class="input-group input-group-sm">
            <input id="uberCost_min"type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="0.15">
            <span class="input-group-addon">$/minute</span>
        </div>
            Booking Fee
        <div class="input-group input-group-sm">
            <input id="uberCost_base"type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="2.1">
            <span class="input-group-addon">$</span>
        </div>
        Minimum Fare
        <div class="input-group input-group-sm">
            <input id="uberCost_minimum"type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="6.25">
            <span class="input-group-addon">$</span>
        </div>

        <hr>

        <label>Bus Cost</label>
        <div class="input-group input-group-sm">
            <!--<span class="input-group-addon" id="sizing-addon3">UBER cost per mile</span>-->
            <input id="busCost"type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="2.5">
            <span class="input-group-addon">$/trip</span>
        </div>
        <hr>
        <label>Average Speed Limit</label>
        <div class="input-group input-group-sm">
            <!--<span class="input-group-addon" id="sizing-addon3">UBER cost per mile</span>-->
            <input id = "averSpeed" type="text" class="form-control" placeholder="3" aria-describedby="sizing-addon3" value="25">
            <span class="input-group-addon">mph</span>
        </div>

    </div>
</div>
<hr>

<button class="tablinks" data-toggle="collapse" data-target="#demo3" style = "border:none;background-color:#00000000">
    <h3>Routes</h3>
</button>
<div id="demo3" class="collapse in">

    <div id = "geoprocessing_div">
        <button id="bus_clip_btn" type="button" class="btn btn-primary" onclick="app.getRoutes()">
            Get Routes
        </button>
        <p></p>
        <!--<button id="get_routes_btn" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="This function will generate a route to your destination"onclick="app.getRoutes()">-->
        <!--Get Routes-->
        <!--</button>-->
    </div>
</div>
<hr>






<img id="loader" src="{% static 'teamwon_mas/images/loader.gif' %}" style="width:100px; display:none">
{% endblock %}

{% block app_content %}
<div id ="outAlert">

</div>
<img id="loader_map" src="{% static 'teamwon_mas/images/test.gif' %}" >
<div id="viewDiv" style="  width:100%;height:-webkit-fill-available;"></div>
<!--<div id="viewDiv" style="  width:100%;height:500px"></div>-->

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}

{% block app_actions %}
{% endblock %}


